<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flutter_rust_bridge.rdion_runtime">
    <application>
        <provider
            android:name=".RdionRuntimePlugin"
            android:authorities="${applicationId}.rdion_runtime_initializer"
            android:exported="false"
            android:enabled="true" />
    </application>
</manifest>